#root {
	--header-color: #00838f;
	--button-bg: #2196f3;
	--white: #ffffff;
	--gray: #f2f2f2;
	--gray-dark: #828282;
	--black-dark-deep: #4f4f4f;
	--black: #000000de;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}
